.App {
  text-align: center;
}
header {
  padding: 80px 15px 50px;
}
main.container {
  padding-bottom: 80px;
}
form {
  margin-bottom: 10px;
}
.table thead th {
  border-top: none;
}
th {
  transition: 0.2s ease;
}
th.name:hover {
  opacity: 0.5;
  cursor: pointer;
}